<div class="topnav">
	<% if (@student) %>
		<form action="/students/<%= @student.id %>">
	    <input type="submit" value="Back to <%= @student.first_name %> <%= @student.last_name %>">
		</form>
	<% elsif (@session) %>
		<form action="/review_sessions/<%= @session.id %>">
	    <input type="submit" value="Back to <%= @session.title %>">
		</form>
	<% else %>
		<form action="/dashboard">
	    <input type="submit" value="Back to Dashboard">
		</form>
	<% end %>
</div>

<div class="mainbox">

	<h2>Assessments</h2>

	<% @assessments.each do |assessment| %>

		<form action="/assessments/<%= assessment.id %>">
	    <input type="submit" value="<%= assessment.student.first_name %> <%= assessment.student.last_name %> - <%= assessment.review_session.course.name %> - <%= assessment.review_session.title %>">
		</form>

	<% end %>

	<form action="">
	  <input class="lite" type="submit" value="Add an Assessment">
	</form>

</div>








