<div class="topnav">
	<% if (@student) %>
		<form action="/students/<%= @student.id %>">
	    <input type="submit" value="Back to <%= @student.first_name %> <%= @student.last_name %>">
		</form>
	<% elsif (@session) %>
		<form action="/review_sessions/<%= @session.id %>">
	    <input type="submit" value="Back to <%= @session.title %>">
		</form>
	<% else %>
		<form action="/dashboard">
	    <input type="submit" value="Back to Dashboard">
		</form>
	<% end %>
</div>

<div class="mainbox">

	<h2>Assessments</h2>

	<% @assessments.each do |assessment| %>

		<div class="assessment">
			<h4>Student: <%= assessment.student.first_name %> <%= assessment.student.last_name %></h4>
			<h4>Course: <%= assessment.review_session.course.name %></h4>
			<h4>Review Session: <%= assessment.review_session.title %></h4>
			<h4>Status: <%= assessment.status.capitalize %></h4>
			<h4>Test Score: not yet calculated</h4>

			<div class="view">

				<% if (@student) %>
					<form action="/students/<%= @student.id %>/assessments/<%= assessment.id %>">
				<% elsif (@session) %>
					<form action="/review_sessions/<%= @session.id %>/assessments/<%= assessment.id %>">
				<% else %>
					<form action="/assessments/<%= assessment.id %>">
				<% end %>
				  <input type="submit" value="View Assessment">
				</form>

			</div>

		</div>


	<% end %>

	<% if (@student) %>
		<form action="/students/assessments/new">
	<% elsif (@session) %>
		<form action="/review_sessions/assessments/new">
	<% else %>
		<form action="/assessments/new">
	<% end %>
	  <input class="lite" type="submit" value="Add an Assessment">
	</form>

</div>








