<div class="topnav">
	<% if (@session) %>
		<form action="/review_sessions/<%= @session.id %>">
	    <input type="submit" value="Back to <%= @session.title %>">
		</form>
	<% elsif ((session[:is_admin] == true) && (@student)) %>
		<form action="/students/<%= @student.id %>">
	    <input type="submit" value="Back to <%= @student.first_name %> <%= @student.last_name %>">
		</form>
	<% else %> 
		<!-- students, teachers, or all assessments -->
		<form action="/dashboard">
	    <input type="submit" value="Back to Dashboard">
		</form>
	<% end %>
</div>

<% if (session[:teacher_id] != nil) %>

	<div class="mainbox">

		<% if (@session) %>
			<h2>Assessments for <%= @session.title %></h2>
		<% elsif (@teacher) %>
			<h2><%= @teacher.first_name %> <%= @teacher.last_name %>'s Assessments</h2>
		<% elsif (@student) %>
			<h2><%= @student.first_name %> <%= @student.last_name %>'s Assessments</h2>
		<% else %>
			<h2>All Assessments</h2>
		<% end %>

		<hr>

		<% @assessments.each do |assessment| %>

			<div class="assessment">

				<h4>Student: <%= assessment.student.first_name %> <%= assessment.student.last_name %></h4>
				<h4>Course: <%= assessment.review_session.course.name %></h4>
				<h4>Review Session: <%= assessment.review_session.title %></h4>
				<h4>Teacher: <%= assessment.review_session.teacher.first_name %> <%= assessment.review_session.teacher.last_name %></h4>
				<h4>Status: <%= assessment.status.capitalize %></h4>

				<div class="view">

					<% if (@session) %>
						<form action="/review_sessions/<%= @session.id %>/assessments/<%= assessment.id %>">	  
					<% elsif (@teacher) %>
						<form action="/teachers/<%= @teacher.id %>/assessments/<%= assessment.id %>">	
					<% elsif (@student) %>
						<form action="/students/<%= @student.id %>/assessments/<%= assessment.id %>">	
					<% else %>
						<form action="/assessments/<%= assessment.id %>">	
					<% end %>
					<input type="submit" value="View Assessment">
					</form>

				</div>

			</div>

		<% end %>

		<% if (@assessments.count == 0) %>
			<h5>There are no assessments.</h5>
		<% end %>

		<% if ((@session) && ((session[:is_admin] == true) || (session[:teacher_id] == @session.teacher.id))) %>
	
			<form action="/review_sessions/<%= @session.id %>/assessments/new">
			  <input class="lite" type="submit" value="Add an Assessment">
			</form>

		<% end %>

		<hr>

	</div>

<% else %>  <!-- student view -->

	<div class="mainbox">

		<h2>My Review Sessions</h2>

		<% @assessments.each do |assessment| %>

			<div class="assessment">

				<h4>Course: <%= assessment.review_session.course.name %></h4>
				<h4>Review Session: <%= assessment.review_session.title %></h4>
				
				<div class="view">

					<form action="/students/<%= @student.id %>/assessments/<%= assessment.id %>">
					  <input type="submit" value="View">
					</form>

				</div>

			</div>

		<% end %>

	</div>

<% end %>








