<div class="topnav">
	<% if (@student) %>
		<form action="/students/<%= @student.id %>">
	    <input type="submit" value="Back to <%= @student.first_name %> <%= @student.last_name %>">
		</form>
	<% elsif (@session) %>
		<form action="/review_sessions/<%= @session.id %>">
	    <input type="submit" value="Back to <%= @session.title %>">
		</form>
	<% else %>
		<form action="/dashboard">
	    <input type="submit" value="Back to Dashboard">
		</form>
	<% end %>
</div>

<div class="mainbox">

	<h2>Assessments</h2>

	<table>

		<tr>
			<th>Student</th>
			<th>Course</th>
			<th>Review Session</th>
			<th>Status</th>
			<th>Test Score</th>
		</tr>

		<% @assessments.each do |assessment| %>

			<tr>

				<td><%= assessment.student.first_name %> <%= assessment.student.last_name %></td>
				<td><%= assessment.review_session.course.name %></td>
				<td><%= assessment.review_session.title %></td>
				<td></td>
				<td></td>

			</tr>

		<% end %>

	</table>

	<form action="">
	  <input class="lite" type="submit" value="Add an Assessment">
	</form>

</div>








