<div class="topnav">
	<!-- this will have several links depending on where it originated -->
	<form action="/assessments">
    <input type="submit" value="Back to Assessments">
	</form>
<!-- <a href="/review_sessions/<%= @assessment.review_session.id %>"><%= @assessment.review_session.title %></a> -->
</div>

<% if((session[:is_admin]) || (session[:user_id] == @question.review_session.teacher_id)) %>

	<div class="mainbox">

		<h2>Assessment</h2>

		<hr>

		<h4>Student Name: <a href="/students/<%= @assessment.student.id %>"><%= @assessment.student.first_name %> <%= @assessment.student.last_name %></a></h4>
		<h4>Course: <a href="/courses/<%= @assessment.review_session.course.id %>"><%= @assessment.review_session.course.name %></a></h4>
		<h4>Review Session Title: <a href="/review_sessions/<%= @assessment.review_session.course.id %>"><%= @assessment.review_session.title %></a></h4>
		<h4>Teacher: <%= @assessment.review_session.teacher.first_name %> <%= @assessment.review_session.teacher.last_name %></h4>
		<h4>Status: <%= @assessment.status.capitalize %></h4>
		<h4>Date Assigned: <%= @assessment.date_assigned %></h4>

		<hr>

			<h3>Test Results</h3>

			<h4>No Results Yet</h4>


		<hr>

		<form action="/assessments/<%= @assessment.id %>/edit">
		  <input class="lite" type="submit" value="Edit Assessment">
		</form>

	</div>

<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>