<% if((session[:is_admin] == true) || (session[:teacher_id] == @assessment.review_session.teacher_id)) %>

	<div class="topnav">
		<% if (@session) %>
			<form action="/review_sessions/<%= @session.id %>/assessments">
		<% elsif (@teacher) %>
			<form action="/teachers/<%= @teacher.id %>/assessments"> 
		<% elsif (@student) %>
			<form action="/students/<%= @student.id %>/assessments">
		<% else %>
			<form action="/assessments">
		<% end %>
	    <input type="submit" value="Back to Assessments">
		</form>
	</div>

<% elsif (session[:student_id] == @assessment.student.id) %>	

	<div class="topnav">
		<form action="/students/<%= @student.id %>/assessments">
	    <input type="submit" value="Back to My Review Sessions">
		</form>
	</div>

<% else %>

	<div class="topnav">
		<form action="/dashboard">
	    <input type="submit" value="Back to Dashboard">
		</form>
	</div>

<% end %>

<% if ((session[:is_admin] == true) || (session[:teacher_id] == @assessment.review_session.teacher_id) || (session[:student_id] == @assessment.student.id)) %>

	<div class="mainbox">

		<% if (session[:student_id] == @assessment.student.id) %>
			<h2>Review Session Detail</h2>
		<% else %>
			<h2>Assessment Detail</h2>
		<% end %>

		<hr>

		<h4>Student: <%= @assessment.student.first_name %> <%= @assessment.student.last_name %></h4>
		<h4>Course: <%= @assessment.review_session.course.name %></h4>
		<h4>Review Session: <%= @assessment.review_session.title %></h4>
		<h4>Teacher: <%= @assessment.review_session.teacher.first_name %> <%= @assessment.review_session.teacher.last_name %></h4>
		<h4>Status: <%= @assessment.status.capitalize %></h4>

		<hr>

		<h3>Test & Quiz Scores</h3>

		<% @assessment.review_session.units.order(:id).each do |unit| %>

			<% if ((unit.test_questions.count > 0) && (unit.quiz_complete?(@assessment) == true)) %>
				<% percent = (unit.quiz_score(@assessment) * 100) / unit.total_quiz_points %>
				<h4>Quiz for <%= unit.title %>: <%= unit.quiz_score(@assessment) %>/<%= unit.total_quiz_points %> (<%= percent %>%)</h4>
			<% end %>

		<% end %>

		<br>

		<% if ((@assessment.review_session.test_questions.count > 0) && (@assessment.review_session.test_complete?(@assessment) == true)) %>
			<% percent = (@assessment.review_session.test_score(@assessment) * 100) / @assessment.review_session.total_test_points %>
			<h4>Final Test: <%= @assessment.review_session.test_score(@assessment) %>/<%= @assessment.review_session.total_test_points %> (<%= percent %>%)</h4>
		<% end %>

		<hr>

		<% if ((session[:is_admin] == true) || (session[:teacher_id] == @assessment.review_session.teacher_id)) %>

			<form action="/assessments/<%= @assessment.id %>/edit">
			  <input class="lite" type="submit" value="Edit Assessment">
			</form>

		<% elsif (session[:student_id] == @assessment.student.id) %>

			<form action="/review_sessions/<%= @assessment.id %>/instructions">
				<% if (@assessment.status == 'assigned') %>
				  <input type="submit" value="Start">
				<% elsif (@assessment.status == 'in progress') %>
				  <input type="submit" value="Continue">
				<% else %>
				  <input type="submit" value="Review">
				<% end %>
			</form>

		<% end %>

<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>