<div class="topnav">
	<form action="/dashboard">
    <input type="submit" value="Back to Dashboard">
	</form>
</div>

<div class="mainbox">

	<h2>Student Profile</h2>

	<h4>First Name:</h4>
	<h5><%= @student.first_name %></h5>
	<h4>Last Name:</h4>
	<h5><%= @student.last_name %></h5>
	<h4>Email:</h4> 
	<h5><%= @student.email %></h5>
	<h4>Student ID:</h4>
	<h5><%= @student.identification %></h5>
	<h4>Graduation Year:</h4>
	<h5><%= @student.grad_year %></h5>
	<h4>Status:</h4>
	<h5><%= @student.status %></h5>

	<hr>

	<h3>Assessments</h3>

	<!-- list of student assessments -->

	<% if (session[:is_teacher]) %>





	<% end %>

</div>