<a href="/dashboard">Back to Dashboard</a>

<h1>STUDENT SHOW</h1>

<h3>First Name: <%= @student.first_name %></h3>
<h3>Last Name: <%= @student.last_name %></h3>
<h3>Email: <%= @student.email %></h3>
<h3>Student ID: <%= @student.identification %></h3>
<h3>Graduation Year: <%= @student.grad_year %></h3>
<h3>Status: <%= @student.status %></h3>

<% if (session[:is_teacher]) %>



<% end %>
