<div class="topnav">
	<form action="/dashboard">
    <input type="submit" value="Back to Dashboard">
	</form>
</div>

<div class="mainbox">

	<h2>Student Profile</h2>

	<h4>First Name: <%= @student.first_name %></h4>
	<h4>Last Name: <%= @student.last_name %></h4>
	<h4>Email: <%= @student.email %></h4>
	<h4>Student ID: <%= @student.identification %></h4>
	<h4>Graduation Year: <%= @student.grad_year %></h4>
	<h4>Status: <%= @student.status %></h4>

	<h3>Assessments</h3>

	<!-- list of student assessments -->

	<% if (session[:is_teacher]) %>





	<% end %>

</div>