<div class="topnav">
	<% if (session[:is_admin] == true) %>
		<form action="/students">
	    <input type="submit" value="Back to Students">
		</form>	
	<% else %>
		<form action="/dashboard">
	    <input type="submit" value="Back to Dashboard">
		</form>
	<% end %>
</div>

<% if((session[:is_admin] == true) || (session[:student_id] == @student.id)) %>

	<div class="mainbox">

		<h2>Student Profile</h2>

		<hr>

		<h4>First Name: <%= @student.first_name %></h4>
		<h4>Last Name: <%= @student.last_name %></h4>
		<h4>Email: <%= @student.email %></h4> 
		<h4>Student ID: <%= @student.identification %></h4>
		<h4>Graduation Year: <%= @student.grad_year %></h4>
		<% if (@student.status == 0) %>	
			<h4>Status: Invited</h4>
		<% elsif (@student.status == 1) %>
			<h4>Status: Active</h4>
		<% else %>
			<h4>Status: Inactive</h4>
		<% end %>

		<hr>

		<% if (session[:is_admin]) %>

			<form action="/students/<%= @student.id %>/edit">
		    <input type="submit" value="Edit Profile">
			</form>

		<% end %>

	</div>

<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>