<div class="topnav">
	<% if (@assessment) %>
		<form action="/assessments/<%= @assessment.id %>/units/<%= @topic.unit.id %>">
    	<input type="submit" value="Back to <%= @topic.unit.title %>">
		</form>
	<% else %>
		<form action="/units/<%= @topic.unit.id %>">
    	<input type="submit" value="Back to <%= @topic.unit.title %>">
		</form>
	<% end %>
</div>

<div class="mainbox">

	<h2><%= @topic.title %></h2>

	<hr>

	<h4>Course: <%= @topic.unit.review_session.course.name %></h4>
	<h4>Created by: <%= @topic.unit.review_session.teacher.first_name %> <%= @topic.unit.review_session.teacher.last_name %></h4>
	<h4>Review Session Title: <%= @topic.unit.review_session.title %></h4>
	<h4>Unit Title: <%= @topic.unit.title %></h4>
	<h4>Description:</h4>
	<p class="description"><%= @topic.description %></p>

	<% if (@topic.video_url) %>
		<% if (@topic.video_url.length > 0) %>

		<hr>

		<h3>Video</h3>

		<iframe src="https://www.youtube.com/embed/<%= @topic.video_url %>" frameborder="0" allowfullscreen></iframe>

		<% end %>
	<% end %>

	<hr>

	<h3>Review Questions</h3>

	<% i=1 %>

	<% @questions.each do |question| %>

		<% if (@assessment) %>

			<form action="/assessments/<%= @assessment.id %>/review_questions/<%= question.id %>">
				<% if (question.is_active == true) %>
		    	<input type="submit" value="Question <%= i %> [ACTIVE]">
		    <% else %>	
		    	<input class="lite" type="submit" value="Question <%= i %> [INACTIVE]">
		    <% end %>
			</form>

		<% else %>

			<form action="/review_questions/<%= question.id %>">
				<% if (question.is_active == true) %>
		    	<input type="submit" value="Question <%= i %> [ACTIVE]">
		    <% else %>	
		    	<input class="lite" type="submit" value="Question <%= i %> [INACTIVE]">
		    <% end %>
			</form>

		<% end %>

		<% i = i+1 %>

	<% end %>

	<% if((session[:is_admin] == true) || (session[:teacher_id] == @topic.unit.review_session.teacher_id)) %>

		<form action="/topics/<%= @topic.id %>/review_questions/new">
		  <input class="lite" type="submit" value="Add a New Question">
		</form>

		<hr>

		<form action="/topics/<%= @topic.id %>/edit">
		  <input class="lite" type="submit" value="Edit Topic">
		</form>

	<% else %>

		<hr>

	<% end %>

</div>

