<div class="topnav">
	<form action="/units/<%= @topic.unit.id %>">
    <input type="submit" value="Back to <%= @topic.unit.title %>">
	</form>
</div>

<div class="mainbox">

	<h2><%= @topic.title %></h2>

	<hr>

	<h4>Course:</h4>
	<h5><%= @topic.unit.review_session.course.name %></h5>
	<h4>Created by:</h4>
	<h5><%= @topic.unit.review_session.teacher.first_name %> <%= @topic.unit.review_session.teacher.last_name %></h5>
	<h4>Review Session Title:</h4>
	<h5><%= @topic.unit.review_session.title %></h5>
	<h4>Unit Title:</h4>
	<h5><%= @topic.unit.title %></h5>
	<h4>Description:</h4>
	<p><%= @topic.description %></p>

	<% if (@topic.video_url) %>
		<% if (@topic.video_url.length > 0) %>

		<hr>

		<h3>Video</h3>

		<iframe src="https://www.youtube.com/embed/<%= @topic.video_url %>" frameborder="0" allowfullscreen></iframe>

		<% end %>
	<% end %>

	<hr>

	<h3>Review Questions</h3>

	<% i=1 %>

	<% @topic.review_questions.each do |question| %>

		<form action="/review_questions/<%= question.id %>">
			<% if (question.is_active == true) %>
	    	<input type="submit" value="Question <%= i %> [ACTIVE]">
	    <% else %>	
	    	<input class="lite" type="submit" value="Question <%= i %> [INACTIVE]">
	    <% end %>
		</form>

		<% i = i+1 %>

	<% end %>

	<% if((session[:is_admin]) || (session[:user_id] == @topic.unit.review_session.teacher_id)) %>

		<form action="/topics/<%= @topic.id %>/review_questions/new">
		  <input class="lite" type="submit" value="Add a New Question">
		</form>

		<hr>

		<form action="/topics/<%= @topic.id %>/edit">
		  <input class="lite" type="submit" value="Edit Topic">
		</form>

	<% end %>

</div>

