<div class="topnav">
	<form action="/test_questions/<%= @choice.test_question.id %>">
    <input type="submit" value="Back to Question">
	</form>
</div>

<% if ((session[:is_admin] == true) || ((@choice.test_question.review_session) && (session[:teacher_id] == @choice.test_question.review_session.teacher.id)) || (session[:teacher_id] == @choice.test_question.unit.review_session.teacher.id)) %>

	<div class="mainbox">

		<h2>Edit Choice</h2>

		<hr>

		<form action="/choices/<%= @choice.id %>" method="post">
			<label for="choice_text">Choice Text</label><br>
			<textarea name="choice_text"><%= @choice.choice_text %></textarea><br>
			<hr>
			<input type="submit" value="Update Choice"/>
			<input type="hidden" name="_method" value="patch"/>
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

		<form action="/choices/<%= @choice.id %>" method="post">
			<input class="delete" id="choice" type="submit" value="Delete Choice"/>
			<input type="hidden" name="_method" value="delete"/>
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

		<hr>

		<h3>Image Upload</h3>

		<h4>Current Image</h4>

		<% if @choice.image_stored? %>
			<%= image_tag @choice.image.thumb('200x200').url if @choice.image_stored? %>
		<% else %>
			<h5>No Image</h5>
		<% end %>

		<% if @choice.image_stored? %>

			<form action="/choices/<%= @choice.id %>/delete_image" method="post" enctype="multipart/form-data">
				<input class="delete" type="submit" value="Delete Image"/>
				<input type="hidden" name="_method" value="delete"/>
				<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
			</form>

		<% else %>

			<form action="/choices/<%= @choice.id %>/upload_image" method="post" enctype="multipart/form-data">
				<label for="image">File Upload</label>
				<input type="file" name="image" accept="image/png,image/gif,image/jpeg"/>
				<br><br>
				<input type="submit" class="upload" value="Upload Image"/>
				<input type="hidden" name="_method" value="patch"/>
				<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
			</form>

		<% end %>
		
		<hr>

	</div>
	
<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>