<div class="topnav">
	<form action="/review_questions/<%= @question.id %>">
    <input type="submit" value="Back to Question">
	</form>
</div>

	<% if((session[:is_admin]) || (session[:user_id] == @question.topic.review_session.teacher_id)) %>

	<div class="mainbox">

		<h2>Edit Review Question</h2>

		<form action="/review_questions/<%= @question.id %>" method="post">
			<label for="question_text">Question Text</label>
			<textarea name="question_text"><%= @question.question_text %></textarea><br>
			<label for="answer_text">Answer Text</label>
			<textarea name="answer_text"><%= @question.review_answer.answer_text %></textarea><br>
			<label for"is_active">Active?</label>
			<% if (@question.is_active == true) %>
				<input type="radio" name="is_active" value="true" checked="checked">Yes
				<input type="radio" name="is_active" value="false">No
			<% else %>
				<input type="radio" name="is_active" value="true">Yes
				<input type="radio" name="is_active" value="false" checked="checked">No
			<% end %>
			<br><br>
			<input type="submit" value="Update Question"/>
			<input type="hidden" name="_method" value="patch"/>
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

		<% if(session[:is_teacher] && session[:is_admin]) %>

			<form action="/review_questions/<%= @question.id %>" method="post">
				<input class="delete" type="submit" value="Delete Question"/>
				<input type="hidden" name="_method" value="delete"/>
				<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
			</form>

		<% end %>

	</div>

<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>