<div class="topnav">
	<% if (@assessment) %>
		<form action="/assessments/<%= @assessment.id %>/topics/<%= @question.topic.id %>">
    	<input type="submit" value="Back to <%= @question.topic.title %>">
		</form>
	<% else %>
		<form action="/topics/<%= @question.topic.id %>">
    	<input type="submit" value="Back to <%= @question.topic.title %>">
		</form>
	<% end %>	
</div>

<div class="mainbox">

	<h2>Review Question</h2>

	<hr>

	<h4>Question:</h4>
	<p class="description">
		<%= @question.question_text %><br><br>
	</p>
	<%= image_tag @question.image.url if @question.image_stored? %>

	<% if (@assessment) %>

		<form action="">
	    <input class="reveal" type="submit" value="Reveal Answer">
		</form>

		<div class="answer hidden">

	<% else %>

		<div class="answer">

	<% end %>

		<h4>Answer:</h4>
		<p class="description">
			<%= @question.review_answer.answer_text %><br><br>
		</p>
		<%= image_tag @question.review_answer.image.url if @question.review_answer.image_stored? %>

	</div>

	<% if !(@assessment) %>

		<% if (@question.is_active == true) %>
			<h4>Active: Yes</h4>
		<% else %>
			<h4>Active: No</h4>
		<% end %>

	<% end %>

	<hr>

	<% if((session[:is_admin] == true) || (session[:teacher_id] == @question.topic.unit.review_session.teacher_id)) %>

		<form action="/review_questions/<%= @question.id %>/edit">
	    <input class="lite" type="submit" value="Edit Question">
		</form>

	<% end %>

</div>