<div class="topnav">
	<form action="/topics/<%= @question.topic.id %>">
    <input type="submit" value="Back to <%= @question.topic.title %>">
	</form>
</div>

<h1>REVIEW QUESTION SHOW</h1>

<p><%= @question.question_text %></p>

<!-- question image -->

<p><%= @question.answer_text %></p>

<!-- answer image -->

<% if (@question.is_active == true) %>
	<h3>Active: Yes</h3>
<% else %>
	<h3>Active: No</h3>
<% end %>


<a href="/review_questions/<%= @question.id %>/edit">Edit Question</a>