<a href="/topics/<%= @question.topic.id %>">Back to <%= @question.topic.title %></a>

<h1>REVIEW QUESTION SHOW</h1>

<p><%= @question.question_text %></p>

<!-- question image -->

<p><%= @question.answer_text %></p>

<!-- answer image -->


<a href="/review_questions/<%= @question.id %>/edit">Edit Question</a>