<div class="topnav">
	<form action="/topics/<%= @question.topic.id %>">
    <input type="submit" value="Back to <%= @question.topic.title %>">
	</form>
</div>

<div class="mainbox">

	<h2>Review Question</h2>

	<h4>Question:</h4>
	<div class="container">
		<%= @question.question_text %><br><br>
		<%= image_tag @question.image.url if @question.image_stored? %>
	</div>

	<!-- question image -->

	<h4>Answer:</h4>
	<div class="container">
		<%= @question.review_answer.answer_text %><br><br>
		<%= image_tag @question.review_answer.image.url if @question.review_answer.image_stored? %>
	</div>

	<!-- answer image -->

	<% if (@question.is_active == true) %>
		<h4>Active: Yes</h4>
	<% else %>
		<h4>Active: No</h4>
	<% end %>

	<% if((session[:is_admin]) || (session[:user_id] == @question.topic.unit.review_session.teacher_id)) %>

		<form action="/review_questions/<%= @question.id %>/edit">
	    <input class="lite" type="submit" value="Edit Question">
		</form>

	<% end %>

</div>