<div class="topnav">
	<form action="/test_questions/<%= @question.id %>">
    <input type="submit" value="Back to Question">
	</form>
</div>

<% if (session[:is_teacher]) %>

	<div class="mainbox">

		<h2>Edit Test Question</h2>

		<form action="/test_questions/<%= @question.id %>" method="post">
			<label for="question_text">Question Text</label><br>
			<textarea name="question_text"><%= @question.question_text %></textarea><br>
			<label for="points">Points Worth</label><br>
			<input type="text" name="points" value="<%= @question.points %>"/><br>
			<label for="is_active">Question Active?</label>
			<% if @question.is_active == true %>
				<input type="radio" name="is_active" value="true" checked="checked">Yes
				<input type="radio" name="is_active" value="false">No
			<% else %>
				<input type="radio" name="is_active" value="true">Yes
				<input type="radio" name="is_active" value="false" checked="checked">No
			<% end %>
			<br>
			<br>

			<h3>Answer Choices</h3>
			<h5>Teacher: Select Correct Answer</h5>
			
			<% @question.choices.each do |choice| %>
					<div class="choice">
						<% if (@question.correct_answer == choice.id) %>
							<input type="radio" name="correct_answer" value="<%= choice.id %>" checked="checked"/><%= choice.choice_text %><br><br>
						<% else %>
							<input type="radio" name="correct_answer" value="<%= choice.id %>"/><%= choice.choice_text %><br><br>
						<% end %>
					</div>
					<br>
				<% end %>

			<input type="submit" value="Update Question"/>
			<input type="hidden" name="_method" value="patch"/>
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

		<hr>

		<h3>Image Upload</h3>

		<h4>Current Image</h4>

		<% if @question.image_stored? %>
			<%= image_tag @question.image.thumb('200x200').url if @question.image_stored? %>
		<% else %>
			<h5>No Image</h5>
		<% end %>

		<% if @question.image_stored? %>

			<form action="/test_questions/<%= @question.id %>/delete_image" method="post" enctype="multipart/form-data">
				<input class="delete" type="submit" value="Delete Image"/>
				<input type="hidden" name="_method" value="delete"/>
				<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
			</form>

		<% else %>

			<form action="/test_questions/<%= @question.id %>/upload_image" method="post" enctype="multipart/form-data">
				<label for="image">File Upload</label>
				<input type="file" name="image" accept="image/png,image/gif,image/jpeg,image/pdf"/>
				<br><br>
				<input type="submit" value="Upload Image"/>
				<input type="hidden" name="_method" value="patch"/>
				<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
			</form>

		<% end %>
		
		<hr>

		<form action="/test_questions/<%= @question.id %>" method="post">
			<input class="delete" type="submit" value="Delete Question"/>
			<input type="hidden" name="_method" value="delete"/>
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

	</div>

<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>