<div class="topnav">
	<% if (@session) %>
		<% if (@assessment) %>
			<form action="/assessments/<%= @assessment.id %>/review_sessions/<%= @session.id %>">
				<input type="submit" value="Back to <%= @session.title %>">
		<% else %>
			<form action="/review_sessions/<%= @session.id %>">
				<input type="submit" value="Back to <%= @session.title %>">
		<% end %>		
	<% else %>
		<% if (@assessment) %>
			<form action="/assessments/<%= @assessment.id %>/units/<%= @unit.id %>">
				<input type="submit" value="Back to <%= @unit.title %>">
		<% else %>
			<form action="/units/<%= @unit.id %>">
				<input type="submit" value="Back to <%= @unit.title %>">
		<% end %>
	<% end %>
	</form>
</div>

<div class="mainbox">

	<% if (@session) %>

		<h2>Final Test Questions</h2>

		<hr>

		<h4>Review Session: <%= @session.title %></h4>

		<% if (@session.total_test_points) %>
			<h4>Total Test Points: <%= @session.total_test_points %></h4>
		<% end %>

		<hr>

		<% if (@questions.count == 0) %>
			<h4>There are no test questions for this session!</h4>
		<% end %>

	<% else %> <!--  unit quiz -->

		<h2>Unit Quiz Questions</h2>

		<hr>

		<h4>Review Session: <%= @unit.review_session.title %></h4>
		<h4>Teacher: <%= @unit.review_session.teacher.first_name %> <%= @unit.review_session.teacher.last_name %></h4>
		<h4>Unit: <%= @unit.title %></h4>

		<% if (@unit.total_quiz_points) %>
			<h4>Total Quiz Points: <%= @unit.total_quiz_points %></h4>
		<% end %>

		<hr>

		<% if (@questions.count == 0) %>
			<h4>There are no quiz questions for this unit!</h4>
		<% end %>

	<% end %>

	

	<% i = 1 %>

	<% @questions.each do |question| %>

		<% if (@assessment) %>

			<% if (question.is_active == true) %>

				<div class="button">

					<form action="/assessments/<%= @assessment.id %>/units/<%= @unit.id %>/test_questions/<%= question.id %>">
						<% if (question.correct_answer == nil) %>
							<input class ="shaded" type="submit" value="Question <%= i %>" disabled/>	
						<% else %>
							<input type="submit" value="Question <%= i %>"/>
						<% end %>
					</form>

				</div>

				<div class="status">

					<% if (question.correct_answer == nil) %>
						<p class="problem">There is a problem with this question. Please contact your teacher.</p>
					<% elsif (question.answered?(@assessment) == false) %>
						<h4>NOT ANSWERED</h4>
					<% else %>
					  <!-- display correct or incorrect here -->
					  <% score = question.score(@assessment) %>
					  <% if (score != nil) %>
					  	<% if (score > 0) %>
					  		<%= image_tag "http://i.imgur.com/LZTyXAD.png", :class => "icon" %>
					  		<h4>CORRECT (<%= question.score(@assessment) %>/<%= question.points %>)</h4>
					  	<% else %>
					  		<%= image_tag "http://i.imgur.com/5byMYCo.png", :class => "icon" %>
					  		<h4>INCORRECT (0/<%= question.points %>)</h4>
					  	<% end %>
					  <% end %>
					<% end %>

				</div>
				
			<% end %> 

		<% else %>

			<form action="/test_questions/<%= question.id %>">
				<% if (question.is_active == true) %>
					<% if ((question.correct_answer == nil) || (question.correct_answer <= 0)) %>	
		    		<input class="red" type="submit" value="Question <%= i %> [ACTIVE]">
		    		<h5 class="warning">No Correct Answer Selected!</h5>
		    	<% else %>
		    		<input type="submit" value="Question <%= i %> [ACTIVE]">
		    	<% end %>
		    <% else %>
		    	<% if ((question.correct_answer == nil) || (question.correct_answer <= 0)) %>	
		    		<input class="red" type="submit" value="Question <%= i %> [INACTIVE]">
		    		<h5 class="warning">No Correct Answer Selected!</h5>
	    		<% else %>
	    			<input class="shaded" type="submit" value="Question <%= i %> [INACTIVE]">
		    	<% end %>
		    <% end %>
			</form>

		<% end %>

		<% i = i+1 %>

	<% end %>

	<% if ((@session) && ((session[:is_admin] == true) || (session[:teacher_id] == @session.teacher.id))) %>

		<form action="/review_sessions/<%= @session.id %>/test_questions/new">
	    <input class="lite" type="submit" value="Add a Test Question">
		</form>

	<% elsif ((@unit) && ((session[:is_admin] == true) || (session[:teacher_id] == @unit.review_session.teacher.id))) %>

		<form action="/units/<%= @unit.id %>/test_questions/new">
	    <input class="lite" type="submit" value="Add a Quiz Question">
		</form>

	<% end %>

	<hr>

</div>



