<div class="topnav">
	<form action="/review_sessions/<%= @session.id %>">
    <input type="submit" value="Back to <%= @session.title %>">
	</form>
</div>

<div class="mainbox">

	<h2>Test Questions</h2>

	<h3>for: <%= @session.title %></h3>

	<% if (@session.total_test_points) %>
		<h4>Total Test Points: <%= @session.total_test_points %></h4>
	<% end %>

	<% i = 1 %>

	<% @questions.each do |question| %>

		<form action="/test_questions/<%= question.id %>">
			<% if (question.is_active == true) %>
	    	<input type="submit" value="Question <%= i %> [ACTIVE]">
	    <% else %>
	    	<input class="shaded" type="submit" value="Question <%= i %> [INACTIVE]">
	    <% end %>
	    <% if ((question.correct_answer == nil) || (question.correct_answer <= 0)) %>	
	    	<h5 class="warning">No Correct Answer Selected!</h5>
	    <% end %>
		</form>

		<% i = i+1 %>

	<% end %>

	<% if((session[:is_admin]) || (session[:user_id] == @session.teacher_id)) %>

		<form action="/review_sessions/<%= @session.id %>/test_questions/new">
	    <input class="lite" type="submit" value="Add a Test Question">
		</form>

	<% end %>

</div>

