<div class="topnav">
	<form action="/review_sessions/<%= @question.review_session.id %>/test_questions">
    <input type="submit" value="Back to Test Questions">
	</form>
</div>

<div class="mainbox">

	<h2>Test Question</h2>

	<hr>

	<h4>Points:<%= @question.points %></h4>

	<% if (@question.is_active == true) %>
		<h4>Active: Yes</h4>
	<% else %>
		<h4>Active: No</h4>
	<% end %>

	<h4>Question:</h4>
	<p>
		<%= @question.question_text %>
	</p>

	<%= image_tag @question.image.thumb('100x100#').url if @question.image_stored? %>

	<hr>

	<h3>Answer Choices</h3>

	<% @question.choices.each do |choice| %>

		<div class="choice">
			<% if (choice.id == @question.correct_answer) %>	
				<%= choice.choice_text %>
				<form action="/choices/<%= choice.id %>/edit">
			    <input class="small lite" type="submit" value="Edit">
				</form>
				[Correct]
			<% else %>
				<%= choice.choice_text %>
				<form action="/choices/<%= choice.id %>/edit">
			    <input class="small lite" type="submit" value="Edit">
				</form>
			<% end %>
		</div>

		<br>

	<% end %>

	<% if((session[:is_admin]) || (session[:user_id] == @question.review_session.teacher_id)) %>

		<form action="/test_questions/<%= @question.id %>/choices/new">
	    <input class="lite" type="submit" value="Add a Choice">
		</form>

		<hr>

		<form action="/test_questions/<%= @question.id %>/edit">
	    <input class="lite" type="submit" value="Edit Test Question">
		</form>

	<% end %>

</div>


