<div class="topnav">
	<% if (@question.review_session_id) %>
		<% if (@assessment) %>
			<form action="/assessments/<%= @assessment.id %>/review_sessions/<%= @question.review_session.id %>/test_questions">
		<% else %>
			<form action="/review_sessions/<%= @question.review_session.id %>/test_questions">
		<% end %>
		<input type="submit" value="Back to Test Questions">
	<% else %> <!-- unit_id -->
		<% if (@assessment) %>
			<form action="/assessments/<%= @assessment.id %>/units/<%= @question.unit.id %>/test_questions">	
		<% else %>
			<form action="/units/<%= @question.unit.id %>/test_questions">
		<% end %>
		<input type="submit" value="Back to Quiz Questions">
	<% end %>
	</form>
</div>

<div class="mainbox">

	<h2>Question <%= @number %></h2>

	<% if ((@assessment) && (@question.answered?(@assessment) == true)) %>
		<% score = @question.score(@assessment) %>
	  <% if (score != nil) %>
	  	<% if (score > 0) %>
	  		<div class="correct"><h4>CORRECT (<%= @question.score(@assessment) %>/<%= @question.points %>)</h4></div>
	  	<% else %>  
	  		<div class="incorrect"><h4>INCORRECT (0/<%= @question.points %>)</h4></div>
	  	<% end %>
	  <% end %>
	<% end %>

	<hr>

	<h4>Points Worth: <%= @question.points %></h4>

	<% if !(@assessment) %>
		<% if (@question.is_active == true) %>
			<h4>Active: Yes</h4>
		<% else %>
			<h4>Active: No</h4>
		<% end %>
	<% end %>

	<h4>Question:</h4>
	<p class="description">
		<%= @question.question_text %>
	</p>

	<%= image_tag @question.image.thumb('400x400').url if @question.image_stored? %>

	<hr>

	<h3>Answer Choices</h3>

	<% if (!@assessment) && ((@question.correct_answer == nil) || (@question.correct_answer <= 0)) %>	
		<h4 class="warning">No Correct Answer Selected for this Question!</h4>
	<% end %>

	<% if (@assessment) %>
		<h4>Please select the correct answer.</h4> 
		<h4>Remember, once selected, your answer is final.</h4>
	<% end %>

	<% @choices.each do |choice| %>

		<div class="container">
			<% if (@assessment) %>
				<%= choice.choice_text %><br><br>
				<%= image_tag choice.image.url if choice.image_stored? %>
				<div class="edit">
					<% if (@question.answered?(@assessment) == false) %>
						<form action="/assessments/<%= @assessment.id %>/responses" method="post">
							<input type="hidden" name="question_id" value="<%= @question.id %>"/>
							<input type="hidden" name="student_answer" value="<%= choice.id %>"/>
					    <input class="small select" id="<%= choice.id %>" type="submit" value="Select"/>
					    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
						</form>
					<% else %>
						<% if ((@question.correct_answer == choice.id) && (@question.student_answer(@assessment) == choice.id)) %>
							<div class="correct"><h4>Correct Answer (Selected)</h4></div>
						<% elsif (@question.correct_answer == choice.id) %>	
							<div class="correct"><h4>Correct Answer</h4></div>
						<% elsif (@question.student_answer(@assessment) == choice.id) %>
							<div class="selected"><h4>Selected Answer</h4></div>
						<% end %>
					<% end %>
				</div>
			<% else %>
				<% if ((session[:teacher_id] != nil) && (choice.id == @question.correct_answer)) %>	
					<div class="correct"><h4>Correct Answer</h4></div>
				<% end %>
				<%= choice.choice_text %><br><br>
				<%= image_tag choice.image.url if choice.image_stored? %>
				<div class="edit">
					<% if ((session[:is_admin] == true) || ((@question.review_session) && (session[:teacher_id] == @question.review_session.teacher.id)) || (session[:teacher_id] == @question.unit.review_session.teacher.id)) %>
						<form action="/choices/<%= choice.id %>/edit">
					    <input class="small" type="submit" value="Edit"/>
						</form>
					<% end %>
				</div>
			<% end %>
		</div>

		<br>

	<% end %>

	<% if ((@assessment) && (@next_question != nil) && (@next_question.is_active == true) && (@next_question.correct_answer != nil)) %>

		<% if (@question.review_session_id) %>

			<form action="/assessments/<%= @assessment.id %>/review_sessions/<%= @next_question.review_session.id %>/test_questions/<%= @next_question.id %>">
		    <input type="submit" value="Go to Next Question">
			</form>

		<% else %>

			<form action="/assessments/<%= @assessment.id %>/units/<%= @next_question.unit.id %>/test_questions/<%= @next_question.id %>">
		    <input type="submit" value="Go to Next Question">
			</form>

		<% end %>

	<% elsif ((@assessment) && (@next_question == nil)) %>

		<% if (@question.review_session_id) %>

			<form action="/assessments/<%= @assessment.id %>/review_sessions/<%= @question.review_session.id %>/test_questions">
		    <input type="submit" value="Finish">
			</form>

		<% else %>

			<form action="/assessments/<%= @assessment.id %>/units/<%= @question.unit.id %>/test_questions">
		    <input type="submit" value="Finish">
			</form>

		<% end %>

	<% elsif ((session[:is_admin] == true) || ((@question.review_session) && (session[:teacher_id] == @question.review_session.teacher.id)) || ((@question.unit) && (session[:teacher_id] == @question.unit.review_session.teacher.id))) %>

		<form action="/test_questions/<%= @question.id %>/choices/new">
	    <input class="lite" type="submit" value="Add a Choice">
		</form>

		<hr>

		<form action="/test_questions/<%= @question.id %>/edit">
	    <input class="lite" type="submit" value="Edit Test Question">
		</form>

	<% end %>

</div>


