<div class="topnav">
	<form action="/review_sessions/<%= @question.review_session.id %>">
    <input type="submit" value="Back to <%= @question.review_session.title %>">
	</form>
</div>

<div class="mainbox">

	<h2>Test Question</h2>

	<hr>

	<h4>Points:<%= @question.points %></h4>

	<% if (@question.is_active == true) %>
		<h4>Active: Yes</h4>
	<% else %>
		<h4>Active: No</h4>
	<% end %>

	<h4>Question:</h4>
	<p>
		<%= @question.question_text %>
	</p>

	<!-- question image -->

	<hr>

	<h3>Choices</h3>

	<% @question.choices.each do |choice| %>

		<%= choice.choice_text %>

		<form action="/choices/<%= choice.id %>/edit">
	    <input type="submit" value="Edit <%= choice.choice_text %>">
		</form>

	<% end %>

	<form action="/test_questions/<%= @question.id %>/choices/new">
    <input class="lite" type="submit" value="Add a Choice">
	</form>

	<hr>

	<form action="/test_questions/<%= @question.id %>/edit">
    <input class="lite" type="submit" value="Edit Test Question">
	</form>

</div>


