<div class="topnav">
	<form action="/review_sessions/<%= @question.review_session.id %>/test_questions">
    <input type="submit" value="Back to Test Questions">
	</form>
</div>

<div class="mainbox">

	<h2>Test Question</h2>

	<hr>

	<h4>Points: <%= @question.points %></h4>

	<% if (@question.is_active == true) %>
		<h4>Active: Yes</h4>
	<% else %>
		<h4>Active: No</h4>
	<% end %>

	<h4>Question:</h4>
	<p>
		<%= @question.question_text %>
	</p>

	<%= image_tag @question.image.thumb('400x400').url if @question.image_stored? %>

	<hr>

	<h3>Answer Choices</h3>

	<% if ((@question.correct_answer == nil) || (@question.correct_answer <= 0)) %>	
		<h4 class="warning">No Correct Answer Selected for this Question!</h4>
	<% end %>

	<% @question.choices.each do |choice| %>

		<div class="container">
			<% if (choice.id == @question.correct_answer) %>	
				<%= choice.choice_text %><br><br>
				<%= image_tag choice.image.url if choice.image_stored? %>
				<div class="edit">
					<form action="/choices/<%= choice.id %>/edit">
				    <input class="small" type="submit" value="Edit"/>
					</form>
					<h4 class="correct">Correct Answer</h4>
				</div>
			<% else %>
				<%= choice.choice_text %><br><br>
				<%= image_tag choice.image.url if choice.image_stored? %>
				<div class="edit">
					<form action="/choices/<%= choice.id %>/edit">
				    <input class="small" type="submit" value="Edit">
					</form>
				</div>
			<% end %>
		</div>

		<br>

	<% end %>

	<% if((session[:is_admin]) || (session[:user_id] == @question.review_session.teacher_id)) %>

		<form action="/test_questions/<%= @question.id %>/choices/new">
	    <input class="lite" type="submit" value="Add a Choice">
		</form>

		<hr>

		<form action="/test_questions/<%= @question.id %>/edit">
	    <input class="lite" type="submit" value="Edit Test Question">
		</form>

	<% end %>

</div>


