<a href="/review_sessions/<%= @question.review_session.id %>">Back to <%= @question.review_session.title %></a>

<h1>TEST QUESTION SHOW</h1>

<h3>Points: <%= @question.points %></h3>

<% if (@question.is_active == true) %>
	<h3>Active: Yes</h3>
<% else %>
	<h3>Active: No</h3>
<% end %>

<p>Question: <%= @question.question_text %></p>

<!-- question image -->

<a href="/test_questions/<%= @question.id %>/edit">Edit Question</a>

<h4>Choices</h4>

<ul>
	<% @question.choices.each do |choice| %>

		<li><a href="/choices/<%= choice.id %>/edit"><%= choice.choice_text %></a></li>

	<% end %>

</ul>

<a href="/test_questions/<%= @question.id %>/choices/new">Add a Choice</a>



<p>Answer: <%= @question.correct_answer %></p>


