<form action="/logout" method="post">
	<input type="submit" value="Logout"/>
	<input type="hidden" name="_method" value="delete"/>
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
</form>

<% if (session[:is_teacher]) %>

	<h1>TEACHER DASHBOARD</h1>

	<!-- list of courses -->
	<a href="/courses">Courses</a><br><br>

	<!-- link to student profiles -->
	<a href="/students">Students</a><br><br>

	<!-- link to own profile -->
	<a href="/teachers/<%= session[:user_id] %>">My Profile</a><br><br>

	<!-- open student assessments -->
	<a href="/teacher_assessments/<%= session[:user_id] %>">My Open Assessments</a><br><br>
	<!-- this will link to assessments index showing only open assessments for current user -->


<% else %>

	<h1>STUDENT DASHBOARD</h1>

	<!-- list of review sessions assigned -->
	<a href="/student_assessments/<%= session[:user_id] %>">My Review Sessions</a><br><br>

	<!-- link to own profile -->
	<a href="/students/<%= session[:user_id] %>">My Profile</a><br><br>


<% end %>



