<div class="topnav">
	<form action="/review_sessions/<%= @session.id %>">
    <input type="submit" value="Back to <%= @session.title %>">
	</form>
</div>

<% if((session[:is_admin]) || (session[:user_id] == @session.teacher_id)) %>

	<div class="mainbox">

		<h2>Edit Review Session</h2>

		<form action="/review_sessions/<%= @session.id %>" method="post">
			<label for="title">Session Title:</label>
			<input type="text" name="title" value="<%= @session.title %>"/><br>
			<input type="submit" value="Update Review Session"/>
			<input type="hidden" name="_method" value="patch"/>
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

		<form action="/review_sessions/<%= @session.id %>" method="post">
			<input class="delete" type="submit" value="Delete Review Session"/>
			<input type="hidden" name="_method" value="delete"/>
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

	</div>

<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>