<div class="topnav">
	<form action="/courses/<%= @session.course.id %>">
    <input type="submit" value="Back to <%= @session.course.name %>">
	</form>
</div>

<div class="mainbox">

	<h2><%= @session.title %></h2>

	<hr>

	<h4>Course: <%= @session.course.name %></h4>

	<h4>Created by: <%= @session.teacher.first_name %> <%= @session.teacher.last_name %></h4>
	
	<hr>
	
	<h3>Units</h3>

	<% @units.each do |unit| %>

		<form action="/units/<%= unit.id %>">
	    <input type="submit" value="<%= unit.title %>">
		</form>

	<% end %>

	<% if((session[:is_admin]) || (session[:user_id] == @session.teacher_id)) %>

		<form action="/review_sessions/<%= @session.id %>/units/new">
	    <input class="lite" type="submit" value="Add a Unit">
		</form>

	<% end %>

	<hr>

	<% if (@session.test_type == 0) %>

		<h4>Final Test Format: paper (teacher graded)</h4>
		<h4>Test URL: <%= @session.test_url %></h4>

		<% if ((!@session.test_url) || (@session.test_url.length == 0)) %>
			<h5 class="warning">Warning: there is no test URL entered for this session!</h5><br>
		<% end %>

	<% else %>

		<h4>Final Test Format: online (computer graded)</h4>

		<form action="/review_sessions/<%= @session.id %>/test_questions">
		  <input type="submit" value="Final Test">
		</form>

		<% if (@session.test_questions.count == 0) %>
			<h5 class="warning">Warning: there are no test questions for this session!</h5><br>
		<% end %>

	<% end %>

	<hr>

	<% if(session[:is_teacher]) %>

		<form action="/review_sessions/<%= @session.id %>/assessments">
		  <input type="submit" value="Assessments">
		</form>

	<% end %>

	<% if((session[:is_admin]) || (session[:user_id] == @session.teacher_id)) %>

		<hr>

		<form action="/review_sessions/<%= @session.id %>/edit">
	    <input class="lite" type="submit" value="Edit Review Session">
		</form>	

	<% end %>

</div>

