<div class="topnav">
	<form action="/courses/<%= @session.course.id %>">
    <input type="submit" value="Back to <%= @session.course.name %>">
	</form>
</div>

<div class="mainbox">

	<h2><%= @session.title %></h2>

	<h4>Created by: <%= @session.teacher.first_name %> <%= @session.teacher.last_name %></h4>
	<h4>Course: <%= @session.course.name %></h4>
	
	<br>

	<h3>Units</h3>

	<% @session.units.each do |unit| %>

		<form action="/units/<%= unit.id %>">
	    <input type="submit" value="<%= unit.title %>">
		</form>

	<% end %>

	<form action="/review_sessions/<%= @session.id %>/units/new">
    <input class="lite" type="submit" value="Add a Unit">
	</form>

	<br>

	<form action="/review_sessions/<%= @session.id %>/assessments">
	  <input type="submit" value="Assessments">
	</form>

	<form action="/review_sessions/<%= @session.id %>/test_questions">
	  <input type="submit" value="Test Questions">
	</form>

	<br>

	<form action="/review_sessions/<%= @session.id %>/edit">
    <input class="lite" type="submit" value="Edit Review Session">
	</form>	

</div>

