<div class="topnav">
	<% if (@assessment) %>
		<form action="/review_sessions/<%= @session.id %>/instructions">
	    <input type="submit" value="Back to Instructions">
		</form>
	<% else %>
		<form action="/courses/<%= @session.course.id %>">
	    <input type="submit" value="Back to <%= @session.course.name %>">
		</form>
	<% end %>
</div>

<div class="mainbox">

	<h2><%= @session.title %></h2>

	<hr>

	<h4>Course: <%= @session.course.name %></h4>

	<h4>Teacher: <%= @session.teacher.first_name %> <%= @session.teacher.last_name %></h4>
	
	<hr>
	
	<h3>Units</h3>

	<% @units.each do |unit| %>

		<% if (@assessment) %>

			<div class="button">
				<form action="/units/<%= unit.id %>">
			    <input type="submit" value="<%= unit.title %>">
				</form>
			</div>

			<div class="status">
				<%= image_tag "http://i.imgur.com/5byMYCo.png", :class => "icon" %>
				<h4>QUIZ NOT COMPLETED</h4>
			</div>

		<% else %>

			<form action="/units/<%= unit.id %>">
		    <input type="submit" value="<%= unit.title %>">
			</form>

		<% end %>
			
	<% end %>

	<% if((session[:is_admin] == true) || (session[:teacher_id] == @session.teacher_id)) %>

		<form action="/review_sessions/<%= @session.id %>/units/new">
	    <input class="lite" type="submit" value="Add a Unit">
		</form>

	<% end %>

	<hr>

	<% if (@session.test_type == 0) %>

		<h4>Final Test Format: paper (teacher graded)</h4>
		<h4>Test URL: <%= @session.test_url %></h4>

		<% if ((!@session.test_url) || (@session.test_url.length == 0)) %>
			<h5 class="warning">Warning: there is no test URL entered for this session!</h5><br>
		<% end %>

	<% else %>

		<h4>Final Test Format: online (computer graded)</h4>

		<form action="/review_sessions/<%= @session.id %>/test_questions">
		  <input type="submit" value="Final Test">
		</form>

		<% if (@session.test_questions.count == 0) %>
			<h5 class="warning">Warning: there are no test questions for this session!</h5><br>
		<% end %>

	<% end %>

	<hr>

	<% if(session[:teacher_id] != nil) %>

		<form action="/review_sessions/<%= @session.id %>/assessments">
		  <input type="submit" value="Assessments">
		</form>

	<% end %>

	<% if((session[:is_admin] == true) || (session[:teacher_id] == @session.teacher_id)) %>

		<hr>

		<form action="/review_sessions/<%= @session.id %>/edit">
	    <input class="lite" type="submit" value="Edit Review Session">
		</form>	

	<% end %>

</div>

