<div class="topnav">
	<% if (@assessment) %>
		<form action="/review_sessions/<%= @assessment.id %>/instructions">
	    <input type="submit" value="Back to Instructions">
		</form>
	<% else %>
		<form action="/courses/<%= @session.course.id %>">
	    <input type="submit" value="Back to <%= @session.course.name %>">
		</form>
	<% end %>
</div>

<div class="mainbox">

	<h2><%= @session.title %></h2>

	<hr>

	<h4>Course: <%= @session.course.name %></h4>

	<h4>Teacher: <%= @session.teacher.first_name %> <%= @session.teacher.last_name %></h4>
	
	<hr>
	
	<h3>Units</h3>

	<% @units.each do |unit| %>

		<% if (@assessment) %>

			<div class="button">
				<form action="/assessments/<%= @assessment.id %>/units/<%= unit.id %>">
			    <input type="submit" value="<%= unit.title %>">
				</form>
			</div>

			<div class="status">
				<% if (unit.test_questions.count == 0) %>

					<%= image_tag "http://i.imgur.com/hBmX2V1.png", :class => "icon" %>
					<h4>NO QUIZ FOR THIS UNIT</h4>
					
				<% else %>

					<% if (unit.quiz_complete?(@assessment) == true) %>
						<%= image_tag "http://i.imgur.com/LZTyXAD.png", :class => "icon" %>
						<h4>QUIZ COMPLETED (<%= unit.quiz_score(@assessment) %>/<%= unit.total_quiz_points %>)</h4>
					<% else %>
						<%= image_tag "http://i.imgur.com/5byMYCo.png", :class => "icon" %>
						<h4>QUIZ NOT COMPLETED</h4>
					<% end %>
			
				<% end %>
				
			</div>

		<% else %>

			<form action="/units/<%= unit.id %>">
		    <input type="submit" value="<%= unit.title %>">
			</form>

		<% end %>
			
	<% end %>

	<% if((session[:is_admin] == true) || (session[:teacher_id] == @session.teacher_id)) %>

		<form action="/review_sessions/<%= @session.id %>/units/new">
	    <input class="lite" type="submit" value="Add a Unit">
		</form>

	<% end %>

	<hr>

	<% if (@session.test_type == 0) %>

		<h4>Final Test Format: paper (teacher graded)</h4>

		<% if (@assessment) %>

			<% if (@session.quizzes_complete?(@assessment) == true) %>

				<p>Click on the link below to access and print the paper test. Once you have completed the test, please submit it to your teacher by following the instructions on the test.</p>

				<% if ((@session.test_url) && (@session.test_url.length > 0)) %>

					<h4><a id="test_link" href="<%= @session.test_url %>">Final Test</a></h4>

				<% else %>

					<h5 class="warning">Test is not available. Please contact your teacher.</h5>

				<% end %>

			<% else %>

				<p class="warning">You must complete the unit quizzes before you can take the test.</p>

			<% end %>

		<% else %>

			<% if ((!@session.test_url) || (@session.test_url.length == 0)) %>
				<h5 class="warning">Warning: there is no test URL entered for this session!</h5>

			<% else %>

				<h4>Test URL: <%= @session.test_url %></h4>
	
			<% end %>

		<% end %>

		<h4>Total Test Points: <%= @session.total_test_points %></h4>

	<% else %>

		<h4>Final Test Format: online (computer graded)</h4>

		<% if (@assessment) %>

			<!-- test is enabled when quizzes are completed -->

			<% if (@session.test_questions.count == 0) %>

				<div class="button">
				  <form action="/assessments/<%= @assessment.id %>/review_sessions/<%= @session.id %>/test_questions">
					  <input class="shaded" type="submit" value="Take Final Test" disabled/>
					</form>
				</div>

				<div class="status">

					<h5 class="problem">There are no test questions for this session. Please consult your teacher.</h5>

				</div>

			<% elsif (@session.quizzes_complete?(@assessment) == true) %>


				<div class="button">
					<form action="/assessments/<%= @assessment.id %>/review_sessions/<%= @session.id %>/test_questions">
					  <input type="submit" value="Take Final Test"/>
					</form>
				</div>

				<div class="status">
					<% if (@session.test_complete?(@assessment) == true) %>
						<%= image_tag "http://i.imgur.com/LZTyXAD.png", :class => "icon" %>
						<h4>TEST COMPLETED (<%= @session.test_score(@assessment) %>/<%= @session.total_test_points %>)</h4>
					<% else %>
						<%= image_tag "http://i.imgur.com/5byMYCo.png", :class => "icon" %>
						<h4>TEST NOT COMPLETED</h4>
					<% end %>
				</div>

			<% else %>

				<div class="button">
				  <form action="/assessments/<%= @assessment.id %>/review_sessions/<%= @session.id %>/test_questions">
					  <input class="shaded" type="submit" value="Take Final Test" disabled/>
					</form>
				</div>

				<div class="status">

					<h5 class="problem">You must complete the unit quizzes before you can take the test.</h5>

				</div>
		
			<% end %>
			
		<% else %>

			<form action="/review_sessions/<%= @session.id %>/test_questions">
			  <input type="submit" value="Final Test (<%= @session.test_questions.where({is_active: true}).count %>)">
			</form>

			<h4>Total Test Points: <%= @session.total_test_points %></h4>
		
		<% end %>

		<% if((session[:is_admin] == true) || (session[:teacher_id] == @session.teacher_id)) %>

			<% if (@session.test_questions.where({is_active: true}).count == 0) %>
				<h5 class="problem">Warning: there are no test questions for this session!</h5><br>
			<% end %>

		<% end %>

	<% end %>

	<hr>

	<% if(session[:teacher_id] != nil) %>

		<form action="/review_sessions/<%= @session.id %>/assessments">
		  <input type="submit" value="Assessments (<%= @session.assessments.count %>)">
		</form>

	<% end %>

	<% if((session[:is_admin] == true) || (session[:teacher_id] == @session.teacher_id)) %>

		<hr>

		<form action="/review_sessions/<%= @session.id %>/edit">
	    <input class="lite" type="submit" value="Edit Review Session">
		</form>	

	<% end %>

</div>

