<a href="/courses/<%= @session.course.id %>">Back to <%= @session.course.name %></a>

<h1>REVIEW SESSION SHOW</h1>

<h3>Course: <%= @session.course.name %></h3>
<h3>Created by: <%= @session.teacher.first_name %> <%= @session.teacher.last_name %></h3>
<h3>Title: <%= @session.title %></h3>
<h3>Total Test Points: <%= @session.total_test_points %></h3>

<a href="/review_sessions/<%= @session.id %>/edit">Edit Review Session</a>

<h4>Units</h4>

<ul>
	<% @session.units.each do |unit| %>
	
		<li><a href="/units/<%= unit.id %>"><%= unit.title %></a></li>

	<% end %>

</ul>

<a href="/review_sessions/<%= @session.id %>/units/new">Add a Unit</a>

<h4>Assessments</h4>

<ul>
	<% @session.assessments.each do |assessment| %>
	
		<li><a href="/assessments/<%= assessment.id %>"><%= assessment.student.first_name %> <%= assessment.student.last_name %></a></li>

	<% end %>

</ul>

<h4>Test Questions</h4>

<ul>
	<% @session.test_questions.each do |question| %>
	
		<li><a href="/test_questions/<%= question.id %>"><%= question.id %></a></li>

	<% end %>

</ul>

<a href="/review_sessions/<%= @session.id %>/test_questions/new">Add a Test Question</a>

