<div class="topnav">
	<form action="/teachers/<%= @teacher.id %>">
    <input type="submit" value="Back to <%= @teacher.first_name %> <%= @teacher.last_name %>">
	</form>
</div>

<% if (session[:is_admin] == true) %>

	<div class="mainbox">

		<h2>Edit Teacher Profile</h2>

		<hr>

		<form action="/teachers/<%= @teacher.id %>" method="post">
			<label for="first_name">First Name</label><br>
			<input type="text" name="first_name" value="<%= @teacher.first_name %>"/><br>
			<label for="last_name">Last Name</label><br>
			<input type="text" name="last_name" value="<%= @teacher.last_name %>"/><br>
			<label for="email">Email</label><br>
			<input type="text" name="email" value="<%= @teacher.email %>"/><br>
			<br>
			<% if (@teacher.is_admin == true) %>
				<label for="is_active">Active?</label>
				<% if @teacher.is_active == true %>
					<input type="radio" name="is_active" value="true" checked="checked">Yes
					<input type="radio" name="is_active" value="false">No
				<% else %>
					<input type="radio" name="is_active" value="true">Yes
					<input type="radio" name="is_active" value="false" checked="checked">No
				<% end %>
				<br><br>
				<label for="is_admin">Admin?</label>
				<% if @teacher.is_admin == true %>
					<input type="radio" name="is_admin" value="true" checked="checked">Yes
					<input type="radio" name="is_admin" value="false">No
				<% else %>
					<input type="radio" name="is_admin" value="true">Yes
					<input type="radio" name="is_admin" value="false" checked="checked">No
				<% end %>
			<% end %>
			<br><br>

			<hr>

			<input type="submit" value="Update Profile"/>
			<input type="hidden" name="_method" value="patch"/>
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

		<!-- need form to change password -->

	</div>
	
<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>