<div class="topnav">
	<form action="/courses/<%= @course.id %>">
    <input type="submit" value="Back to <%= @course.name %>">
	</form>
</div>

<% if (session[:is_admin]) %>

	<div class="mainbox">

		<h2>Edit Course</h2>

		<form action="/courses/<%= @course.id %>" method="post">
			<label for="name">Course Name:</label><br>
			<input class="short" type="text" name="name" value="<%= @course.name %>"/>
			<input type="submit" value="Update Course"/>
			<input type="hidden" name="_method" value="patch"/>
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

		<form action="/courses/<%= @course.id %>" method="post">
			<input class="delete" id="course" type="submit" value="Delete Course"/>
			<input type="hidden" name="_method" value="delete"/>
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

	</div>

<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>