<div class="topnav">
	<form action="/courses">
    <input type="submit" value="Back to Courses">
	</form>
</div>

<% if (session[:is_teacher]) %>

	<div class="mainbox">

		<h2><%= @course.name %></h2>

		<hr>

		<h3>Review Sessions</h3>

		<% @course.review_sessions.each do |session| %>

			<form action="/review_sessions/<%= session.id %>">
		    <input type="submit" value="<%= session.title %>">
			</form>

		<% end %>

		<form action="/courses/<%= @course.id %>/review_sessions/new">
	    <input class="lite" type="submit" value="Add a Review Session">
		</form>

		<% if (session[:is_teacher] && session[:is_admin]) %>

			<hr>

			<form action="/courses/<%= @course.id %>/edit">
		    <input class="lite" type="submit" value="Edit Course">
			</form>

		<% end %>
	
	</div>

<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>

