<div class="topnav">
	<a href="/courses">Back to Courses</a>
</div>

<% if (session[:is_teacher]) %>

	<div class="mainbox">

		<h2>Courses</h2>

		<h3><%= @course.name %></h3>

		<a href="/courses/<%= @course.id %>/edit">Edit Course</a>

		<h4>Review Sessions</h4>

		<ul>
			<% @course.review_sessions.each do |session| %>

				<li><a href="/review_sessions/<%= session.id %>"><%= session.title %></a></li>

			<% end %>

		</ul>

		<a href="/courses/<%= @course.id %>/review_sessions/new">Add a Review Session</a>
	
	</div>

<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>

