<div class="topnav">
	<form action="/units/<%= @unit.id %>">
    <input type="submit" value="Back to <%= @unit.title %>">
	</form>
</div>

<% if((session[:is_admin] == true) || (session[:teacher_id] == @unit.review_session.teacher_id)) %>

	<div class="mainbox">

		<h2>Edit Unit</h2>

		<hr>

		<form action="/units/<%= @unit.id %>" method="post">
			<label for="title">Unit Title:</label><br>
			<input type="text" name="title" value="<%= @unit.title %>"/><br>
			<label for="description">Unit Description:</label><br>
			<textarea name="description"><%= @unit.description %></textarea><br>
			<hr>
			<input type="submit" value="Update Unit"/>
			<input type="hidden" name="_method" value="patch"/>
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

		<form action="/units/<%= @unit.id %>" method="post">
			<input class="delete" id="unit" type="submit" value="Delete Unit"/>
			<input type="hidden" name="_method" value="delete"/>
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

	</div>

<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>