<div class="topnav">
	<form action="/review_sessions/<%= @unit.review_session.id %>">
    <input type="submit" value="Back to <%= @unit.review_session.title %>">
	</form>
</div>

<div class="mainbox">

	<h2><%= @unit.title %></h2>

	<hr>

	<h4>Course:<h4>
	<h5><%= @unit.review_session.course.name %></h5>
	<h4>Created by:</h4>
	<h5><%= @unit.review_session.teacher.first_name %> <%= @unit.review_session.teacher.last_name %></h5>
	<h4>Review Session:</h4>
	<h5><%= @unit.review_session.title %></h5>
	<h4>Description:</h4>
	<p><%= @unit.description %></p>

	<hr>

	<h3>Topics</h3>

	<% @unit.topics.each do |topic| %>

		<form action="/topics/<%= topic.id %>">
	    <input type="submit" value="<%= topic.title %>">
		</form>
	
	<% end %>

	<% if((session[:is_admin]) || (session[:user_id] == @unit.review_session.teacher_id)) %>

		<form action="/units/<%= @unit.id %>/topics/new">
	    <input class="lite" type="submit" value="Add a New Topic">
		</form>

		<hr>

		<form action="/units/<%= @unit.id %>/edit">
	    <input class="lite" type="submit" value="Edit Unit">
		</form>

	<% end %>

</div>

