<div class="topnav">
	<% if (@assessment) %>
		<form action="/assessments/<%= @assessment.id %>/review_sessions/<%= @unit.review_session.id %>">
    	<input type="submit" value="Back to <%= @unit.review_session.title %>">
		</form>
	<% else %>
		<form action="/review_sessions/<%= @unit.review_session.id %>">
    	<input type="submit" value="Back to <%= @unit.review_session.title %>">
		</form>
	<% end %>
</div>

<div class="mainbox">

	<h2><%= @unit.title %></h2>

	<hr>

	<h4>Course: <%= @unit.review_session.course.name %><h4>
	<h4>Review Session: <%= @unit.review_session.title %></h4>
	<h4>Teacher: <%= @unit.review_session.teacher.first_name %> <%= @unit.review_session.teacher.last_name %></h4>
	<h4>Description:</h4>
	<p class="description"><%= @unit.description %></p>

	<hr>

	<h3>Topics</h3>

	<% @topics.each do |topic| %>

		<% if (@assessment) %>

			<form action="/assessments/<%= @assessment.id %>/topics/<%= topic.id %>">
		    <input type="submit" value="<%= topic.title %>">
			</form>

		<% else %>

			<form action="/topics/<%= topic.id %>">
		    <input type="submit" value="<%= topic.title %>">
			</form>

		<% end %>
	
	<% end %>

	<% if((session[:is_admin] == true) || (session[:teacher_id] == @unit.review_session.teacher_id)) %>

		<form action="/units/<%= @unit.id %>/topics/new">
	    <input class="lite" type="submit" value="Add a New Topic">
		</form>

		<hr>

		<form action="/units/<%= @unit.id %>/test_questions">
		  <input type="submit" value="Unit Quiz">
		</form>

		<hr>

		<form action="/units/<%= @unit.id %>/edit">
	    <input class="lite" type="submit" value="Edit Unit">
		</form>

	<% end %>

</div>

