<!DOCTYPE html>
<html>
<head>
  <title>MathReviewApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://www.hostmath.com/Math/MathJax.js?config=OK"></script>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>

		<h1>Mathematics Review</h1>

		<% if ((session[:student_id] != nil) || (session[:teacher_id] != nil)) %> 

			<% if (session[:is_admin] == true) %>
				<h5>Hello, <%= session[:user_name] %> [Admin]</h5>
			<% elsif (session[:teacher_id] != nil) %>
				<h5>Hello, <%= session[:user_name] %> [Teacher]</h5>
			<% else %>
				<h5>Hello, <%= session[:user_name] %> [Student]</h5>
			<% end %> 

			<div class="left">
				<form action="/dashboard" method="get">
					<input type="submit" value="Dashboard"/>
				</form>
			</div>

			<div class="right">
				<form action="/logout" method="post">
					<input type="submit" value="Logout"/>
					<input type="hidden" name="_method" value="delete"/>
					<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
				</form>
			</div>

		<% end %>

	</header>

<%= yield %>

	<footer></footer>

</body>
</html>
